<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.kashtan.hamkortv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".HamkorTvApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.main.successregister.SuccessRegisterActivity"></activity>
        <activity android:name=".ui.main.feedback.FeedbackActivity" />
        <activity android:name=".ui.main.register.RegisterActivity" />
        <activity android:name=".ui.main.login.LoginActivity" />
        <activity android:name=".ui.main.offer.OfferActivity" />
        <activity android:name=".ui.main.complaint.ComplaintActivity" />
        <activity android:name=".ui.main.history.HistoryActivity" />
        <activity android:name=".ui.main.CategoryPickActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IntroPageActivity" />
        <activity
            android:name=".ui.main.user.UserRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.contacts.ContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.licenses.LicensesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.agrum.AgrumentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.channels.ChannelsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.ourquality.OurQualityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.area.AreaActivity"
            android:screenOrientation="portrait" />
        <service android:name=".service.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrrBoFV0ZExLMCrg68XJ--fSXHYNlpiMg" />
    </application>

</manifest>